.col-md-12 {
    width: auto;
    margin-left: 0;
    color: black;
}

.bioimage {
    width: 33%;
    margin-right: 15px;
    float: left;
}

.socialmedia {
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 25px;
}

.card-body {
    border: lightgray;
    text-align: center;
    color: black;
    font-family: 'Krona One', sans-serif;
    height: auto;
}

h1 {
    font-family: 'Krona One', sans-serif;
    margin-top: 5px;
}

.nav-link {
    color: white;
}

.nav-link.disabled {
    color: white;
    font-weight: 800;
}

.nav {
    background-color: black;
    position: relative;
    width: 100%;
}

.btn {
    background-color: black;
    border-color: black;
}

.form-control {
    margin-bottom: 5px;
}

.portimg {
    width: 100%;
    margin: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: auto;
    background-color: #f5f5f5;
    font-family: 'Krona One', sans-serif;
    color: black;
    text-align: center;
    margin: 0;
}

.centered {
    text-align: center;
}